/*------------------- App Page Banner -----------------*/

.app-page-banner {
  position: relative;
  height: 100vh;
}

.app-page-banner-txt h1 {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 40%;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 20px 35px;
  color: #cbc38a;
  text-align: center;
}

.app-page-banner-txt h2 {
  position: absolute;
  width: 50%;
  top: 40%;
  left: 40%;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 20px 35px;
  color: #cbc38a;
  font-size: 28px;
  text-align: center;
}

.app-page-banner-txt h1 span {
  color: #006d23;
}

.app-page-banner-txt h2 span {
  color: #006d23;
}

.iphone-app-banner {
  position: absolute;
  top: 25%;
  left: 10%;
}

.iphone-app-banner img {
  width: 80%;
}

/*----------------- Information about the app ---------------*/

.app-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-wrapper {
  margin-bottom: 20px;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#proto-vid {
  border-radius: 8px;
}

.feature-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.proto-img {
  margin-bottom: 20px;
  max-height: 600px;
  border-radius: 8px;
}

#integration img {
  box-shadow: gray;
}

.content-text {
  text-align: center;
  font-size: 20px;
  line-height: 34px;
  width: 40%;
}

.content-text p {
  margin-bottom: 14px;
}

.content-text h3 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  margin: 14px 0;
}

.important-text {
  font-weight: 530;
  display: block;
}
