/*----------------- Contact Us---------------------*/

.banner-text {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.banner-text h1 {
  padding-top: 10px;
  font-size: 40px;
  line-height: 50px;
}

.banner-text h2 {
  padding: 40px;
  font-size: 24px;
  color: #2e343b;
}

.banner-text p {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  font-size: 22px;
  color: #002627;
  line-height: 30px;
}

@media only screen and (max-width: 991px) {
  .banner-text h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .banner-text h2 {
    padding: 20px;
    font-size: 22px;
  }

  .banner-text p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 479px) {
  .banner-text h1 {
    font-size: 26px;
    line-height: 26px;
  }

  .banner-text h2 {
    padding: 14px;
    font-size: 18px;
  }

  .banner-text p {
    font-size: 14px;
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-color: white;
}

.tittel {
  padding: 40px 20px 20px 20px;
  font-size: 22px;
  color: #111;
  line-height: 44px;
}

.border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
}

.underline {
  text-decoration: none;
  width: 200px;
  border: 3px solid #808080;
  border-radius: 12px;
}

/*------------------------Our Team------------------------*/

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: white;
  margin-bottom: 150px;
}

.person {
  width: 30%;
  height: 100%;
  margin: 0px auto;
  margin-top: 70px;
  text-align: center;
}

.image {
  width: 100%;
  height: 33%;
  background-color: whitesmoke;
  opacity: 0.95;
  border-radius: 10px 10px 0px 0px;
}

.profile {
  margin: 0px auto;
  margin: 10px;
  width: 130px;
  height: 125px;
  
}

.name {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  float: top;
  background-color: whitesmoke;
  opacity: 0.95;
}

.name h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  margin: 10px;
}

.box-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 10px;
  background-color: whitesmoke;
  opacity: 0.95;
}

.line {
  text-decoration: none;
  float: bottom;
  width: 125px;
  border-radius: 8px;
  height: 2px;
}


.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 20px;
  background-color: whitesmoke;
  opacity: 0.95;
}

.title {
  color: black;
  opacity: 0.7;
  font-size: 15px;
}

.social-links {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  opacity: 0.95;
}

.social-links a{
  color: black;
  display: inline;
  margin: 0px 15px 0px 15px;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.social-links img {
  margin-top: 15px;
  width: 20px;

}

.social-links a img:hover {
  opacity: 0.5;
}

.style-line {
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

/*----------------------- Person1 -----------------------*/

.one {
  background-color: #25a6f4;
  border: 1px solid #25a6f4;
  border-radius: 10px;
}

/*----------------------- Person2 -----------------------*/

.two {
  background-color: purple;
  border: 1px solid purple;
  border-radius: 10px;
}

/*----------------------- Person3 -----------------------*/

.three {
  background-color: #ca091c;
  border: 1px solid #ca091c;
  border-radius: 10px;
}

/*----------------------- Person4 -----------------------*/

.four {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
}

/*----------------------- Person5 -----------------------*/

.five {
  background-color: green;
  border: 1px solid green;
  border-radius: 10px;
}

/*----------------------- Person6 -----------------------*/

.six {
  background-color: gray;
  border: 1px solid gray;
  border-radius: 10px;
}

/*----------------------- Person7 -----------------------*/

.seven {
  background-color: #2d2a39;
  border: 1px solid #2d2a39;
  border-radius: 10px;
}

/*------------------- Responsiv part ----------------------*/

@media only screen and (max-width: 800px) {
  .person {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .person {
    width: 80%;
  }
}



/*  image sources:
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>



Qoutes link:

https://www.inc.com/jayson-demers/51-quotes-to-inspire-success-in-your-life-and-business.html

https://parade.com/937586/parade/life-quotes/

https://www.goodreads.com/quotes/tag/life?page=3

 */
