@media only screen and (max-width: 1024px) {
    nav {
        height: 100px;
    }

    .logo {
        width: 20%;
        margin: 10px 0px 0px 20px;
    }

    .logo-txt {
        display: none;
    }

    .logo-img {
        float: left;
        width: 45%;
    }

    .menu ul li {
        display: inline-block;
        margin: 50px 20px 35px;
    }

    .main-txt h1 {
        width: 45%;
        top: 60%;
        font-size: 28px;
        line-height: 50px;
        text-align: start;
        padding: 0px 15px;
    }

    .iphone-app-img {
        width: 40%;
        top: 25%;
        left: 65%;
        transform: translate(-10%, 0%);
    }

    .iphone-app-img img {
        width: 65%;
    }

    .wrapper {
        height: auto;
    }

    .challenge {
        width: 50%;
        padding: 20px;
    }
          
    .challenge h1 {
        font-size: 30px;
    }

    .challenge p {
        font-size: 18px;
    }

    .globe-img {
        height: auto;
    }

    .globe-img img {
        margin: 100px auto;
    }


    .mobile-app-img {
        float: left;
        width: 30%;
        height: 100%;
    }

    .mobile-app-img img {
        margin: 160px auto;
        width: 60%;
    }

    .solution {
        margin: 15px auto;
        width: 60%;
        padding: 20px;
        height: auto;
    }

    .solution h1 {
        font-size: 30px;
    }

    .solution p {
        font-size: 18px;
    }

    .contact-us-img img {
        margin: 140px auto;
        width: 90%;
    }
      
      
}


@media only screen and (max-width: 768px) {
    nav {
        height: 120px;
    }

    .logo {
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }

    .logo-txt {
        display: none;
    }

    .logo-img {
        float: none;
        width: 100%;
    }

    .logo-img img {
        width: 10%;
    }

    .menu {
        float: none; 
        text-align: center;
        padding-right: 0px;
    }
      
    .menu ul li {
        margin: 10px 20px 10px;
    }

    .main-bk {
        height: 100vh;
    }
      

    .main-txt h1 {
        width: 45%;
        top: 60%;
        font-size: 22px;
        line-height: 40px;
        text-align: start;
        padding: 0px 15px;
    }

    .iphone-app-img {
        width: 40%;
        top: 30%;
        left: 55%;
        transform: translate(-10%, 0%);
    }

    .iphone-app-img img {
        width: 80%;
    }

    .wrapper {
        margin: 0px auto;
        height: auto;
    }

    .challenge {
        width: 100%;
        height: auto;
    }

    .challenge h1 {
        font-size: 28px;
    }

    .challenge p {
        font-size: 16px;
    }

    .globe-img {
        float: left;
        width: 100%;
        text-align: center;
    }

    .globe-img img {
        margin: 20px auto;
        width: 40%;
    }

    .solution {
        float: left;
        width: 100%;
        height: auto;
    }

    .solution h1 {
        font-size: 28px;
    }

    .solution p {
        font-size: 16px;
    }
    
    .mobile-app-img {
        float: left;
        width: 50%;
        margin: 0 auto;
        height: auto;
        text-align: center;
    }

    .mobile-app-img img {
        margin: 20px auto;
        width: 30%;
    }
      
    .talk-to-us-wrapper {
        margin: 0px auto;
        height: auto;
    }

    .talk-to-us {
        margin: 0 auto;
        width: 100%;
    }

    .talk-to-us h1 {
        font-size: 28px;
    }

    .contact-us-media {
        float: right;
        width: 45%;
    }

    .contact-us-img {
        margin: 25px auto;
    }

    .contact-us-img img {
        margin: 0px auto;
        width: 90%;
    }
      

    .container {
        width: 100%;
        margin: 20px 20px;
        height: auto;
    }

    .s-media{
        float: none;
        width: 100%;
        height: auto;
    }

    .support-and-contact-info {
        float: left;
        width: 100%;
        height: auto;
    }  

    .support{
        height: fit-content;
    }

    .support h4{
        padding-bottom: 10px;
    }

    .contact-us {
        height: fit-content;
    }

    .contact-us h4{
        padding-bottom: 10px;
      
    }
      
} 

@media only screen and (max-width: 550px) {
    nav {
        height: 110px;
    }

    .menu ul li {
        margin: 10px 0px 10px 0px;
        padding: 5px;
    }

    .menu ul li a {
        font-size: 16px; 
    }

    .main-txt h1 {
        width: 45%;
        top: 60%;
        font-size: 20px;
        line-height: 30px;
        text-align: start;
        padding: 0px 15px;
    }

    .iphone-app-img {
        width: 40%;
        top: 30%;
        left: 55%;
        transform: translate(-10%, 0%);
    }

    .iphone-app-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    nav {
        height: 95px;
    }

    .menu ul li {
        margin: 10px 0px 10px 0px;
        padding-right: 0px;
    }

    .menu ul li a {
        font-size: 16px; 
    }

    .main-bk {
        height: 70vh;
    }

    .main-txt h1 {
        width: 45%;
        top: 40%;
        font-size: 16px;
        line-height: 30px;
        text-align: start;
        padding: 0px 15px;
    }

    .iphone-app-img {
        width: 40%;
        top: 25%;
        left: 55%;
        transform: translate(-10%, 0%);
    }

    .iphone-app-img img {
        width: 100%;
    }

    .challenge {
        padding: 20px;
    }

    .challenge h1 {
        font-size: 24px;
    }

    .challenge p {
        font-size: 16px;
    }

    .solution {
        padding: 20px;
    }

    .solution h1 {
        font-size: 24px;
    }

    .solution p {
        font-size: 16px;
    }

    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    #msg-box {
        width: 50%;
    }

    .contact-us-img {
        float: left;
        width: 50%;
    }

    .talk-to-us-wrapper {
        width: 100%;
    }

    .talk-to-us {
        margin: 0px auto;
        float: left;
        width: 100%;
    }

    .talk-to-us h1 {
        font-size: 24px;
    }

    .talk-to-us p {
        font-size: 18px;
    }

    .contact-us-media {
        margin: 20px auto;
        float: left;
        width: 100%;
        height: auto;
        border: 2px solid black;
    }

    .left-top h1{
        font-size: 20px;
        font-weight: 400;
    }

    .support{
        position: relative;
        width: 40%;
    }

    .support h4, .contact-us h4{
        font-size: 16px;
      
    }
}



@media only screen and (max-width: 400px) {
    .menu ul li {
        margin: 10px 0px 10px 0px;
    }

    .menu ul li a {
        font-size: 13px; 
    }

    .main-bk {
        height:65vh;
        /* border: 1px solid black; */
        position: relative;
    }

    .main-txt h1 {
        width: 45%;
        top: 60%;
        font-size: 16px;
        line-height: 30px;
        text-align: start;
        padding: 0px 15px;
    }

    .iphone-app-img {
        width: 40%;
        top: 40%;
        left: 55%;
        transform: translate(-10%, 0%);
    }

    
}

@media only screen and (max-width: 335px) {
    .menu ul li {
        margin: 10px 0px 10px 0px;
    }

    .menu ul li a {
        font-size: 12px; 
    }

    .container {
        margin: 0px auto;
        height: auto;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 320px) {
    nav {
        height: 80px;
    } 
}