/* @media only screen and (min-width: 1440px) {
  .mobile-app-img img {
    margin: 20px auto;
    margin-left: 40px;
    width: 80%;
  }
}


@media only screen and (max-width: 2200px) {
  .wrapper {
    height: 75vh;
  }
} */

@media only screen and (max-width: 1432px) {
  .wrapper {
    height: 85vh;
  } 

  .mobile-app-img img {
    margin: 10px auto;
    width: 70%;
    margin-bottom: 0px;
    margin-left: 50px;
}

@media only screen and (max-width: 1240px) {
  .wrapper {
    height: 80vh;
  }

  .mobile-app-img img {
    margin: 20px auto;
    width: 80%;
    margin-bottom: 0px;
    margin-left: 50px;
}


@media only screen and (max-width: 1048px) {
  .menu a {
    padding: 30px 20px;
  }

  #last-menu-item a {
    padding-right: 20px;
  }

  .main-txt h1 {
    width: 45%;
    top: 60%;
    font-size: 28px;
    line-height: 50px;
    text-align: start;
    padding: 0px 15px;
  }

  .iphone-app-img {
    top: 35%;
    left: 65%;
    transform: translate(-10%, 0%);
  }

  .iphone-app-img img {
    width: 80%;
  }

  .wrapper {
    height: 70vh;
  }

  .challenge {
    width: 50%;
    padding: 20px;
  }

  .challenge h1 {
    font-size: 30px;
  }

  .challenge p {
    font-size: 18px;
  }

  .mobile-app-img img {
    margin: 50px auto;
    width: 100%;
    margin-bottom: 0px;
  }

  .solution {
    margin: 50px auto;
    padding: 20px;
    height: auto;
  }

  .solution h1 {
    font-size: 30px;
  }

  .solution p {
    font-size: 18px;
  }

  .contact-us-img img {
    margin: 140px auto;
    width: 90%;
  }
}

@media only screen and (max-width: 850px) {
  nav {
    position: relative;
  }

  main {
    /* since nav is now relative this has to be 0 */
    margin-top: 0;
  }

  .menu ul {
    position: fixed;
    background-color: white;
    border-top: 1px solid #192e2f;
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
  }

  .menu ul li {
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }

  .menu ul a {
    height: 70px;
    padding: 27px 0;
  }

  #last-menu-item a {
    padding-right: 0;
  }

  .main-bk {
    height: 100vh;
  }

  .main-txt h1 {
    width: 45%;
    top: 50%;
    font-size: 22px;
    line-height: 40px;
    text-align: start;
    padding: 0px 15px;
  }

  .iphone-app-img {
    width: 40%;
    top: 30%;
    left: 55%;
    transform: translate(-10%, 0%);
  }

  .iphone-app-img img {
    width: 80%;
  }

  .wrapper {
    margin: 50px 50px;
    height: 80vh;
  }

  .challenge {
    width: 100%;
    height: auto;
  }

  .challenge h1 {
    font-size: 28px;
  }

  .challenge p {
    font-size: 16px;
  }

  .globe-img {
    float: left;
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }

  .globe-img img {
    margin: 50px auto;
    width: 55%;
  }

  .solution {
    float: left;
    width: 100%;
    height: auto;
    padding-top: 20px;
  }

  .solution h1 {
    font-size: 28px;
  }

  .solution p {
    font-size: 16px;
  }

  .mobile-app-img {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .mobile-app-img img {
    margin: 40px auto;
    margin-bottom: 90px;
    width: 80%;
  }

  .talk-to-us {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 150px;
  }

  .talk-to-us h1 {
    font-size: 28px;
  }

  .contact-us-img {
    display: none;
    margin: 0px auto;
    width: 100%;
    height: fit-content;
  }

  .contact-us-img img {
    margin: 0px auto;
    width: 90%;
  }

  .container {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }

  .s-media {
    float: none;
    width: 100%;
    height: auto;
  }

  .support-and-contact-info {
    float: left;
    width: 100%;
    height: auto;
  }

  .support {
    height: fit-content;
  }

  .support h4 {
    padding-bottom: 10px;
  }

  .contact-us h4 {
    padding-bottom: 10px;
  }

  footer {
    /* bottom height has to correspond to .menu ul height */
    bottom: 70px;
  }

  .left-center a {
    display: block;
    text-align: center;
  }

  .left-top h1 {
    text-align: center;
    margin-left: 0;
  }

  .left-center a {
    padding-left: 0;
  }
}

@media only screen and (max-width: 550px) {
  .menu ul {
    height: 60px;
  }

  .menu ul a {
    font-size: 15px;
    height: 60px;
    padding: 22px 0;
  }

  .main-txt h1 {
    width: 45%;
    top: 50%;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    padding: 0px 15px;
  }

  .iphone-app-img {
    top: 30%;
    left: 55%;
    transform: translate(-10%, 0%);
  }

  .iphone-app-img img {
    width: 100%;
  }

  .mobile-app-img img {
    margin: 20px auto;
    margin-bottom: 50px;
    width: 80%;
  }

  footer {
    bottom: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .menu ul {
    height: 50px;
  }

  .menu ul a {
    height: 50px;
    padding: 17px 0;
    font-size: 13px;
    letter-spacing: normal;
  }

  .main-bk {
    height: 70vh;
  }

  .main-txt h1 {
    width: 45%;
    top: 40%;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    padding: 0px 15px;
  }

  .iphone-app-img {
    width: 40%;
    top: 25%;
    left: 55%;
    transform: translate(-10%, 0%);
  }

  .iphone-app-img img {
    width: 100%;
  }

  .challenge {
    padding: 20px;
  }

  .challenge h1 {
    font-size: 24px;
  }

  .challenge p {
    font-size: 16px;
  }

  .solution {
    padding: 20px;
  }

  .solution h1 {
    font-size: 24px;
  }

  .solution p {
    font-size: 16px;
  }

  .container {
    width: 100%;
  }

  .talk-to-us {
    width: 100%;
    margin-bottom: 100px;
  }

  .talk-to-us h1 {
    font-size: 24px;
  }

  .talk-to-us p {
    font-size: 18px;
  }

  .left-top h1 {
    font-size: 24px;
    font-weight: 400;
  }

  .left-center a {
    font-size: 16px;
  }

  .support {
    position: relative;
    width: 35%;
  }

  .contact-us {
    position: relative;
    width: 45%;
  }

  .support h4,
  .contact-us h4 {
    font-size: 16px;
    width: 40%;
  }

  footer {
    bottom: 50px;
  }
}

@media only screen and (max-width: 400px) {
  .menu ul {
    min-height: 50px;
    letter-spacing: 0.5px;
  }

  .main-bk {
    height: 65vh;
    position: relative;
  }

  .main-txt h1 {
    width: 45%;
    top: 60%;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    padding: 0px 15px;
  }

  .iphone-app-img {
    width: 40%;
    top: 40%;
    left: 55%;
    transform: translate(-10%, 0%);
  }

  footer {
    /* bottom height has to correspond to .menu ul height */
    bottom: 50px;
  }

  .support {
    position: relative;
    width: 75%;
    height: auto;
  }

  .contact-us {
    position: relative;
    width: 75%;
    height: auto;
  }

  .contact-us h2 {
    height: 20%;
  }
}

@media only screen and (max-width: 335px) {
  .container {
    margin: 0px auto;
    height: auto;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .menu ul {
    min-width: 319px;
  }
}

@media only screen and (max-width: 375px) {
  #name,
  #email {
    width: 80%;
    max-width: 500px;
  }

  #msg-box {
    max-width: 200px;
  }
}