* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/*----------------- Navigation-bar ---------------------*/
nav {
    height: 100px;
    width: 100%;
}

.logo {
    float: left;
    margin: 20px 0px 0px 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo a{
    font-size: 32px;   
    font-weight: bold;
}

.logo p{
    font-size: 18px;   
}

.menu {
    float: right;
    margin-right: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu ul li {
    display: inline-block;
    margin: 50px 20px;
}

.menu ul li a{
    font-size: 14px;
}

/*-------------- HomePage Bk-image & text -------------*/

.bk-img {
    background-image: url(../images/Homepage_background_image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 525px;
    opacity: 0.85;
}

.wrapper {
    width: 85%;
    margin: 0px auto;
    padding-top: 20px;
}

.important-info {
    padding: 50px 0px 50px 0px;
}

.important-info h1{
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.important-info p{
    padding: 10px 5px 20px 5px;
    line-height: 24px;
    border: 2px solid #3F3F3F;
}


/* ------------------ Our Team ---------------------*/

.container {
    width: 85%;
    margin: 0px auto;
    padding-top: 20px;
    background: rgb(100, 100, 100);
}

.container h1 {
    width: 15%;
    color: black;
    font-size: 24px;
    letter-spacing: 1px;
    border-bottom: black 2px solid;
}

.person {
    display: inline-block;
    width: 33%;
    padding: 0px 30px; 
}

.person-image {
    padding: 40px 0;
}

.person-image img {
    width: 100%;
    border: 5px solid white;
    border-radius: 20px;
}

.persons-name {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.title {
    text-align: center;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

.contact-info a {
    padding-right: 10px;
    color: black;
    font-size: 20px;
}

/*----------------------- Footer -----------------------*/

footer {
    background-color: #F3F3F3;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.copyright {
    padding-top: 140px;
    text-align: center;
}

.s-media a{
    padding: 0px 10px 0px 0px;
    font-size: 18px;
}

/* ------------------- Responsive ----------------------*/

@media only screen and (max-width: 768px) {

/*----------------- Navigation-bar ---------------------*/
    nav {
        height: 140px;
    }

    .menu ul li {
        display: inline-block;
        margin: 20px 10px;
    }
}

@media only screen and (max-width: 425px) {

/*----------------- Navigation-bar ---------------------*/
    nav {
        height: 80px;
    }

    .logo {
        margin: 15px 0px 0px 40%;
    }

    .logo a{
        font-size: 22px;   
        font-weight: bold;
    }

    .logo p{
        font-size: 14px;   
    }

    .menu {
        margin-top: 15px;
        margin-right: 0px;
        text-align: center;
        padding: 10px;
    }

    .menu ul li {
        display: inline-block;
        margin: 0px 10px;
    }

    .menu ul li a{
        font-size: 12px;
        margin-right: 10px;
    }

/*-------------- HomePage Bk-image & text -------------*/
    .bk-img {
        margin-top: 15%;
    }

    .wrapper {
        width: 75%;
        margin: 0px auto;
        padding-top: 20px;
    }

/*----------------------- Footer -----------------------*/
    footer {
        font-size: 12px;
    }
}

@media only screen and  (max-width: 375px) {
/*----------------- Navigation-bar ---------------------*/
    .menu ul li a{
        font-size: 12px;
        margin-right: 0px;
    }

/*----------------------- Footer -----------------------*/
    footer {
        font-size: 10px;
    }
}

@media only screen and  (max-width: 320px) {
/*----------------- Navigation-bar ---------------------*/
    .menu ul li a{
    font-size: 12px;
    margin-right: 0px;
    }

/*-------------- HomePage Bk-image & text -------------*/
    .bk-img {
        margin-top: 25%;
    }
}
